@import "scss/header";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ECEFF1;
    font-family: 'Quicksand', sans-serif;
}

.layout-content {
    flex: 1 1 auto;
    margin-top: 56px;
}

.jumbotron {
    padding-bottom: calc(56px + 4em);
    background-color: #1565C0;
    border-radius: 0;

    .lead {
        margin-bottom: 0;
        color: rgba(255, 255, 255, .6);
    }
}

.container-content {
    margin: 1.5em auto;
}

.default-icon {
    width: 16px;
    height: 16px;
}

.contentbox {
    margin-bottom: 1em;
    background-color: #FFF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        margin-bottom: 0;
        padding: .5em 0;
        background-color: #EEEEEE;
        color: #616161;
        text-align: center;
        border-bottom: 1px solid #BDBDBD;
    }

    .content {
        padding: 1em;
    }
}

.custom-control-label::before {
    background-color: #FFF;
    border: 1px solid #CED4DA;
}

@import "scss/queries";
