<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% if not indexed %}
        <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>

    {% include "templates/index/stylesheets.twig" %}
</head>
<body>
    {% include "templates/index/header.twig" %}

    <div class="layout-content">
        {% include "templates/index/flash.twig" %}

        {% block content %}{% endblock %}
    </div>

    {% include "templates/index/footer.twig" %}
    {% include "templates/index/scripts.twig" %}
</body>
</html>
