#page-social-dashboard {
    #mobile-nav-category {
        a {
            padding: .675rem 1rem;
            color: inherit;
            border-bottom: 1px solid #E0E0E0;

            &.active {
                background-color: #1565C0;
                color: rgba(255, 255, 255, .9);

                i.fa {
                    color: rgba(255, 255, 255, .8) !important;
                }
            }

            &:last-child {
                border: 0;
            }
        }
    }

    #reported-posts {
        .reported-posts-amount {
            border-bottom: 1px solid #E9ECEF;
        }

        .reported-item {
            border: 1px solid #CCC;
            border-radius: 8px;

            .reported-users {
                .reported-users-item {

                }
            }

            .reported-post {
                background-color: #EEEEEE;
            }

            .reported-actions {

            }
        }
    }
}
