#page-social-profile {
    #aside-tabs {
        background: #EEE;
        justify-content: center;

        .nav-item {
            flex: 1;
            text-align: center;

            &:first-child .nav-link.active { border-left: 0; }
            &:last-child .nav-link.active { border-right: 0; }

            .nav-link {
                border-top: 0;
                border-radius: 0;

                &.active {
                    background-color: #EEE;
                    color: #616161;
                    border-bottom: 1px solid #EEE;
                }
            }
        }
    }

    #aside-tabs-content {
        h6 {
            padding: .5rem 0;
            background-color: #EEEEEE;
            color: #616161;
            border-bottom: 1px solid #BDBDBD;
        }

        .aside-content-titles {
            font-size: 13px;
            color: #90949C;
            text-transform: uppercase;
            border-bottom: 1px solid #DDDFE2;
            line-height: 26px;
        }

        .aside-content-blocks:last-child {
            margin-bottom: 0 !important;
        }
    }
}
