.btn { padding: .5rem 1rem; cursor: pointer; }
.btn-sm { padding: .125rem .5rem; }
.form-text { margin-top: .375rem; }

.navbar { background-color: #0277BD; }
.navbar .navbar-brand { padding-top: 0; }
.navbar .form-inline { padding: .75rem 0; }
.navbar .form-inline input { background: none; color: rgba(255, 255, 255, .75); border-color: rgba(255, 255, 255, .5); }
.navbar .form-inline input:focus { border-color: rgba(255, 255, 255, .75); }
.navbar .form-inline input::-webkit-input-placeholder { color: rgba(255, 255, 255, .25); }
.navbar .btn { background-color: #03A9F4; color: rgba(255, 255, 255, .75); }
.navbar .btn:hover { background-color: #29B6F6; color: #FFF; }
.jumbotron { background-color: #0277BD; border-radius: 0; }
.jumbotron .lead { color: rgba(255, 255, 255, .75); }

#profile-actions-dropdown-button img { width: 32px; height: 32px; }
#profile-actions-dropdown-button-username { font-size: 14px; text-align: center; line-height: 1.1; }
#profile-actions-dropdown-button-username small { color: rgba(255, 255, 255, .4); }
#profile-actions-dropdown-button:hover #profile-actions-dropdown-button-username small { color: rgba(255, 255, 255, .5); }
#profile-actions-dropdown.show #profile-actions-dropdown-button-username small { color: rgba(255, 255, 255, .75) !important; }
#profile-actions-dropdown .dropdown-menu { margin-top: 12px; padding: .75rem 0; background-color: #0277BD; }
#profile-actions-dropdown .dropdown-menu h6 { color: rgba(255, 255, 255, .8); text-align: center; }
#profile-actions-dropdown .dropdown-menu h6:first-of-type { padding-top: 0; }
#profile-actions-dropdown .dropdown-menu .dropdown-item { color: rgba(255, 255, 255, .6); }
#profile-actions-dropdown .dropdown-menu .dropdown-item:hover { background-color: #0288D1; color: rgba(255, 255, 255, .8); }
#profile-actions-dropdown .dropdown-menu i { margin-right: 6px; width: 16px; text-align: center; }

section { padding: 2rem 0; margin-top: 0 !important; margin-bottom: 0 !important; border-bottom: 1px solid #E0E0E0; }
section:last-of-type { border-bottom: 0; }
section h1 { margin-bottom: 1.75rem; text-align: center; }

footer .footer-wrapper { border-top: 1px solid #E0E0E0; }
footer ul { padding: 0; list-style: none; }

/* Media query for small and medium devices (<=991px) */
@media (max-width: 991px) {
    body { font-size: 15px; }
    .jumbotron { padding: 1.5rem 1rem; }
    .jumbotron .display-4 { margin-bottom: 1rem; font-size: 2rem; text-align: center; }
    .jumbotron .lead { font-size: 1.125rem; text-align: center; }
}
