{% extends "templates/index/base.twig" %}

{% block title %}Public feed :: BronyCenter{% endblock %}
{% block description %}Main page for logged users.{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Public feed</h1>
    </div>
{% endblock %}
