{% extends "templates/index/base.twig" %}

{% block title %}BronyCenter{% endblock %}
{% block description %}Social network created for those who love My Little Pony and/or want to make new friends.{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Welcome to the BronyCenter</h1>
    </div>
{% endblock %}
