#page-dashboard {
    #mobile-nav-category {
        a { padding: .675rem 1rem; color: inherit; border-bottom: 1px solid #E0E0E0; }
        a:last-child { border: 0; }
        a.active { background-color: #1565C0; color: rgba(255, 255, 255, .9); }
        a.active i.fa { color: rgba(255, 255, 255, .8) !important; }
    }
}
