#flash-messages {
    margin-bottom: 0;

    .alert {
        .alert-type {
            display: block;
            text-align: center;
            margin-bottom: .5rem;
        }

        .alert-message {
            font-size: .938rem;
            opacity: .7;
        }

        .alert-close {
            cursor: pointer;
        }
    }

    :last-child {
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    #flash-messages {
        .alert {
            .alert-message {
                font-size: 15px;
            }
        }
    }
}
