body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 2rem;
}

.lead {
    font-size: 1.125rem;
}

@media (min-width: 992px) {
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1.25rem;
    }
}
